* {
    color: white !important;
    font-weight: bold;
    background-color: #2b235a;
}

.Homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    min-height: 450px;
}

.Homepage img {
    width: 150px;
}

.daytime {
    text-align: right;
    margin: 10px auto;
    padding: 20px;
}

.weatherIcon {
    animation: weatherIcon 5s ease-in-out infinite;
	border-radius: 50%;
	height: 45px;
}

.weatherIcon:after {
	animation: weatherIcon_shadow 5s ease-in-out infinite;
	background: #000000;
	border-radius: 50%;
	content: '';
	height: 15px;
	width: 90px;
	opacity: 0.2;
	position: absolute;
	left: 30px; 
	bottom: -80px;
}
@keyframes weatherIcon {
	50% { transform: translateY(-20px); }
}
@keyframes weatherIcon_shadow {
	50% { transform: translateY(20px) scale(.7); opacity:.05; }
}

.isLoading {
    text-align: center;
    margin: 250px auto;
}

.HeaderCountry .state {
    font-size: 40px;
}

.HeaderCountry .country{
    border: 1px solid transparent;
    background-color: orange;
    position: absolute;
    padding: 5px;
    margin-left: 10px;
}

.Temperature {
    margin-bottom: 15px;
    height: fit-content;
}

.Temperature .temp {
    font-size: 42px;
}

.Temperature .degree {
    font-size: 20px;
    position: absolute;
    padding-left: 5px;
}

.minMaxTemperature {
    margin-bottom: 20px;
} 

.minMaxTemperature .degree {
    font-size: 10px;
    position: absolute;
    padding-left: 5px;
}

@media (max-width: 600px) {

    .daytime {
        font-size: 14px;
        text-align: center;
    }

    .tableHeader {
        font-size: 14px;
    }

    .tableValue {
        font-size: 12px;
    }

    .HeaderCountry .state {
        font-size: 30px;
    }

    .Temperature .temp {
        font-size: 30px;
    }

    .Temperature .degree {
        font-size: 14px;
        position: absolute;
        padding-left: 5px;
    }

    .minMaxTemperature .degree {
        font-size: 8px;
        position: absolute;
        padding-left: 5px;
    }

}